@import "tailwindcss";

main {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  background: linear-gradient(120deg, #f9f9f9, #e3e9f6 50%, #f9f9f9);
  background-size: 200% 200%;
  animation: gradientMove 16s ease-in-out infinite;
  color: #222;
  line-height: 1.6;
  text-align: center;
}
.circle-img{
  border-radius: 50%;
  object-fit: cover;
}

.project-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px #0000000f;
    font-weight: 600;
    max-width: 280px;
    min-width: 220px;
    padding: 1.2rem 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
}



@media (max-width: 768px) {
  main {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .circle-img {
    margin-right: 0;
  }
}